.container {
    padding: 100px;
}

nav {
    background-color: blue;
    align-items: center;
    margin: 0;
    padding: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 20px;
}